.u-section-1 .u-sheet-1 {
  min-height: 398px;
}

.u-section-1 .u-image-1 {
  width: 266px;
  height: 266px;
  margin: 55px auto 0 14px;
}

.u-section-1 .u-text-1 {
  margin: -243px 312px 60px 442px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 49px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -226px;
    margin-right: 273px;
    margin-left: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 66px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 66px;
    margin-left: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 49px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -216px;
    margin-right: 0;
    margin-left: 298px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 223px;
    margin: 37px auto 49px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 355px;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}.u-section-3 .u-sheet-1 {
  min-height: 1542px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: -762px 223px 0 auto;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  font-size: 1.3126em;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 64px -13px 60px auto;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  font-size: 1.3126em;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-2 {
    margin-right: 23px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1079px;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  margin: 0 0 70px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 684px;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  margin: 0 0 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-bottom: 100px;
  }
}@font-face {
  font-family: 'AvenirLT35Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/AvenirLT35Light.ttf);
}